
img {
	width: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
}

.center{
	display: flex;
	justify-content: center; 
	align-items: center;
}

.containerBox{
	margin-top: 3%;
    margin-left: 7%;
    margin-right: 7%;
    max-width: 50%;
	min-width: 50%;

    padding-left: 2%;
    padding-right: 2%;

    border: none;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.leftCard{
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
}

.rightCard{
	width: 50%;
	overflow: hidden;
}

.productCard{
	width: 90%;
	height: 20vh;
	display: block;
	margin: 2%;
}

.imgCard{
	width: 50%;
	display: inline;
	float: left;
	margin-right: 3px;
}

.textCard{
	width: 45%;
	font-size: 20px; 
	padding: 0;
	overflow: hidden; 
}

@media screen and (max-width: 770px) {
    .containerBox{
		margin-top: 2%;
		margin-left: 2%;
		margin-right: 2%;
		max-width: 90%;
		min-width: 90%;

		padding-left: 1%;
		padding-right: 1%;

		border: none;
		border-radius: 25px;
		background-color: white;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}

	.leftCard{
		display: block;
		width: 90%;
	}

	.rightCard{
		display: block;
		width: 90%;
	}
}